/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  font-family: system-ui, sans-serif;
  background: #f4f6f8;
  padding: 40px;
}

/* CONTAINER */
.container {
  max-width: 700px;
  margin: auto;
}

.container > h1{

   margin-bottom: 20px;
}

/* FORM */
form {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}


.controls > .error{

  margin-bottom: 12px;
}


/* INPUTS */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  resize: vertical;
}

/* BUTTON */
button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #555;
}

/* ERROR */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* NOTES LIST */
.notes {
  list-style: none;
  padding: 0;
}

/* NOTE CARD */
.note {
  background: white;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.note-title{

   font-weight: bold;
   margin-bottom: 10px;
}

.note-author{
   
  font-weight: 550;
  margin-bottom: 10px;
}

.note > h5 {
  font-weight: 500;
}

.note > button {
  margin-right: 10px;
  margin-top: 15px;
}

/* TEXT */
.note-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.note-author {
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

/* EdiForm */

.editForm  > button{

  margin-right: 10px;    
}

.pinned {
    border-left: 4px solid gold;
}